[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
{{cookiecutter.package_name}} = { editable = true, path = "." }

[dev-packages]
pytest = ">5"
hypothesis = ">5"
coverage = ">5"
black = ">22"
ruff = ">0.0.265"
mypy = ">1.2"
build = ">0.8"
twine = ">3"

[requires]
python_version = "3.11.4"

#######
### Custom Pipfile Directives
#######
