[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
{{cookiecutter.package_name}} = { editable = true, path = "." }

[dev-packages]
pytest = "*"
hypothesis = "*"
coverage = "*"
black = "*"
ruff = "*"
mypy = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.11.3"
